


#main_content {
    text-align: center;
    
    
}

#container { text-align: center; 
    background-color: beige;
    
}

body { column-count: 2; 
    font-size: 100%; 
    font-family: fantasy; 
    width: 960px;
    
}