    
header{
     background-color: darkseagreen; 
     text-align: center; 
     position: relative;
     top:0px; 
     
}


#main_content{
    width: 960px;
    text-align: center; 
    column-count: 2; 
    
   
}

p{
    font-style: italic;
    background-color: beige;
}

body { font-size: 100%; 
       font-family: fantasy;
}